<h5> Informationen für Besucher und Patienten </h5>

<p> Wir bitten Sie sich aus Rücksicht auf die Patienten und den Klinikablauf an unsere Besuchszeiten zu halten:
	Kiderklinik: 14 bis 19 Uhr
	Intensivstation, nur mit vorheriger Anmeldung: 15:30 bis 18 Uhr
	andere Stationen: 14 bis 19:30 Uhr </p>

<p> Unser Cafe und Restaurant befindet sich im Hauptgebäude.
	Es ist für Sie Montag bis Freitag von 9 bis 18 Uhr und
	an den Wochenenden und Feiretagen von 10 bis 18 Uhr durchgehend mit warmer Küche geöffnet.
	Genießen Sie eine große Auswahl an leckeren Snacks, Kaffee- und Getränkespezialitäten.
	Sie finden hier ein reichhaltiges Kuchenbüfett, Eis, Kuchen und Gebäck. </p>

<p> Gerne können Sie unser kostenfreies WLAN benutzen.
	Dafür gibt es in unserem Krankenhaus für die Besucher einen Gastzugang, den Sie einfach auswählen können.
	Patienten erhalten Informationen und Zugang am Schwesternzimmer ihrer Station. </p>

<img width="100%" src="{{url_for('static', filename='Lageplan.png')}}"/>

<p> 1 Hauptgebäude
	2 Mutter-Kind-Zentrum
	3 Zentrum für Hochpräzisionsbestrahlung
	4 Kinderschmerzzentrum, Kinderkrebszentrum
	5 Medizinisches Schulzentrum
	6 Kinderkrebsforschungszentrum
	7 Universitäres Zentrum für Gesundheitswissenschaften
	I Informations- und Lageplan </p>
