<h5> Unser Krankenhaus </h5>

<p> Unser Ziel ist es, ein international hervorragendes akademisches, medizinisches  Zentrum mit starker Ausstrahlungskraft zu sein.
	Dies wird mit hoch qualifizierten, engagierten Mitarbeiterinnen und Mitarbeitern und einer hervorragenden Ausstattung erreicht. </p>

	<img width="100%" src="{{url_for('static', filename='khFlur.jpg')}}"/>

<br>


<p> Mit 1.295 Betten und 164 Plätzen für die tagesklinische Behandlung von Patienten ist es das größte Krankenhaus der Stadt.
	Rund 910 Ärzte decken im Krankenhaus das gesamte Spektrum der modernen Medizin ab.
	1.900 Schwestern und Pfleger kümmern sich um das Wohl der Patienten.
	Neben seiner zentralen Bestimmung, der Krankenversorgung, erfüllt das Krankenhaus auch Aufgaben der Aus-, Fort- und Weiterbildung
	des medizinischen Personals sowie im öffentlichen Gesundheitswesen.
	Seit dem 1. Juli 1999 ist das Krankenhaus eine Anstalt des öffentlichen Rechts.
	Entscheidungen können somit schneller und direkt vor Ort getroffen werden.
	Organe des Krankenhaus sind der Aufsichtsrat und der Vorstand. </p>
