
<!DOCTYPE html>
<html lang="en">
<head>
    <title>OpenTemperature</title>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>

</head>
<body>

    <br><br>

    <div class="jumbotron text-center">
        <h1 style="font-size:260%;"><b>Open MDQ (Anamnesebogen 4.0)</b></h1>
        <p style="font-size:170%;">Medical questionaires for digital natives!</p>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <h3 class="text-center">Login</h3>

                <br><br>

                <form method="POST">
                    Language: <input type="text" name="language"><br>
                    Framework: <input type="text" name="framework"><br>
                    <input type="submit" value="Submit"><br>
                </form>

                <br><br>

                <label for="text">Name</label>
                <br>
    	          <input type="text" class="form-control" id="firstName" placeholder="" value="" required>
                <hr class="mb-4">
                <button class="btn btn-primary btn-lg btn-block" type="submit">Continue to checkout</button>

            </div>

            <div class="col-sm-4">
                <h3 class="text-center">Anderes classic gedöns</h3>

                <br><br>

                <p></p>
            </div>

            <div class="col-sm-4">
                <h3 class="text-center">Cool stuff in this medical station</h3>

                <br><br>

            </div>
        </div>
    </div>

    <br><br><br><br><br><br><br><br><br><br><br><br><br><br>



</body>
</html>
